<mat-card>
    <mat-card-title class="title">User Information</mat-card-title>
    <mat-card-content>
      <div class="row">
        <span class="mat-caption">Name: </span> <span class="mat-subtitle">TEST</span>
      </div>
      <div class="row">
        <span class="mat-caption">YouTube, Twitter: </span> <span class="mat-subtitle">TEST</span>
      </div>
      <div class="row">
        <span class="mat-caption">Courses: </span>
        TEST
      </div>
    </mat-card-content>
  </mat-card>