/* reset default padding and marging */
html, body, app-root {
    height: 100%;
    display: block;
}
body {
    padding: 0px;
    margin: 0px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}