<div class="cmp--layout-welcome">
    <div class="box--list">
        <div class="box--item">
            <div class="box--control" matRipple>
                <mat-icon aria-hidden="false" aria-label="Example home icon">fingerprint</mat-icon>
            </div>
        </div>
        <div class="box--item">
            <div class="box--text">
                <span class="text-part-1">Authorize in system to start using </span>
                <span class="text-part-2">Neuron Service Group</span>
            </div>
        </div>
    </div>
</div>